doctype html

include header.pug

#landImg 
    h1#display See What's Happening

#eventOne
    h2#display2 Study Night!
    p#text From home to library and back again... Need a new place to get work done? Join us on Thursday from 2-6pm for our weekly study night!
#stdntArt 
    h2#display2 Feeling Snackish? Check Out The Menu! 


#eventTwo
    h2#display2 Live Music
    p#text Swing by Studio Brew for live music with the NaN Girls! Dec. 12th 7-9 pm

#eventThree
    h2#display2 Art Display
    p#text Do you also want to be displayed in Studio Brew? Submit your art down below! Our current monthly theme is “Your favorite spot on campus!” Feel Free to contact John Doe for more details. 
     br
     | Some requirements are Make it campus appropriate! Please avoid trademarked logos.
include footer.pug