doctype html

.footerDiv 
    table#footerTable 
        thead 
            th Location 
            th Hours
        tbody 
            td 1985 Buford Avenue Saint Paul, MN 55108
            td Mon-Fri: 8:30am-4:30pm
             br 
             |Sat: 10:00am-4:30pm
    nav.quickLinks
        ul#footerUL
            li
                a.footLink(href='/account') Account
            li
                a.footLink(href='/account') Legal
            li
                a.footLink(href='/account') FAQ
            li
                a.footLink(href='/account') University of Minnesota
