doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/css/main.css')

        title Studio Brew 
    body 
        nav.navbar
                ul.navbarUL
                    li
                        a.navLink(href='/landing') Home 
                    li
                        a.navLink(href='/account') Account
                    li
                        a.navLink(href='/events') Events
                    li
                        a.navLink(href='/order') Order