doctype html

include header.pug

#landImg 
    h1#display Welcome To Studio Brew! 

#landMenu 
    h2#display2 Feeling Snackish? Check Out The Menu! 
    #landMenuBtn 
        a.landMenuLink(href='/menu') Menu
#featItems 
    .item
    .item
    .item
#artistSptLight 
    h2#display2 Artist Spotlight 

    h3#display2 Abby Bosch
    #landMenuBtn 
        a.landMenuLink(href='/events') Events
#comEvent
    h2#display2 Trivia Night!
    p#text Join us on Thursday from 2-6pm for weekly trivia! The winning team will receive one free medium drink of choice! 
    #landMenuBtn 
        a.landMenuLink(href='/events') Events

include footer.pug